<% content_for(:title, "New recipe | Recipes") %>

<h1>New recipe</h1>

<%= render('layouts/errors', :object => @recipe) %>

<form action="/recipes" method="post">
  <%= render('form') %>
  <button>Create Recipe</button>
</form>
