<% content_for(:title, "New tag | Recipes") %>

<h1>New tag</h1>

<%= render('layouts/errors', :object => @tags) %>

<form action="/recipes/<%= @tags.id %>/tags" method="post">
  <%= render('form') %>
  <button>Create Tag</button>
</form>
